<ng-container *ngIf="details">
	<span class="pull-right">
		<button class="btn btn-default" (click)="goBack()" [disabled]="disabled">Cancel</button>
		<button class="btn btn-primary" (click)="save()" [disabled]="disabled">Save</button>
	</span>

	<h3>Details</h3>
	<div class="card-box">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">Description</label>
				<div class="col-sm-5">
					<input class="form-control" [(ngModel)]="details.description">
				</div>
			</div>
		</div>
	</div>

	<button *ngIf="id !== 'new' && !locationCount" class="btn btn-danger" (click)="delete()" [disabled]="disabled">Delete</button>
	<span class="pull-right">
		<button class="btn btn-default" (click)="goBack()" [disabled]="disabled">Cancel</button>
		<button class="btn btn-primary" (click)="save()" [disabled]="disabled">Save</button>
	</span>
</ng-container>
