<!--ETICOM-->
<footer *ngIf="app.branding === 'eticom'" class="p-3 myBrand-colorFooter-bg">
	<div class="row">
		<div class="col-sm-4">
			
			<i class="fa fa-phone myBrand-colorB vcenter"></i>&nbsp;<a class="myH8 myBrand-colorB vcenter" href="tel:03309125044">0330 912 5044</a>&nbsp; &nbsp; <i class="fa fa-envelope myBrand-colorB vcenter"></i>&nbsp;<a class="myH8 myBrand-colorB vcenter" href="mailto:info@ibg-uk.com">info@ibg-uk.com</a>&nbsp; &nbsp; <i class="fa fa-twitter myBrand-colorB vcenter"></i>
			
		</div>
		
		<div class="col-sm-4 text-center myBrand-colorB">
			<span class="myH8 mt-2 vcenter"> Intelligent Building Group Limited Reg No: 07977817. Terms & Conditions
			</span>
		</div>

		<div class="col-sm-4" >
			<img class="float-end mx-4" src="assets/img/logo/eticom-cloud-logo.svg" width="100px">
		</div>
		
	</div>
</footer>


<!--ELANET-->
<footer *ngIf="app.branding === 'elanet'" class="elanet bg-primary text-light p-20">
	<div class="row">
		<div class="col-sm-6">
			<div><b>Elanet Limited</b></div>
			<div>6 St John's Court</div>
			<div>Vicars Lane</div>
			<div>Chester, CH1 1QE</div>
		</div>
		<div class="col-sm-6 text-right">
			<div><a href="tel:03333583595">0333 358 3595</a> <img class="icon" src="assets/img/auth/icon-phone.svg"></div>
			<div class="m-t-5"><a href="mailto:info@elanet.co.uk">info@elanet.co.uk</a> <img class="icon" src="assets/img/auth/icon-envelope.svg"></div>
		</div>
	</div>
</footer>
