<div class="fill flex-parent-column">
	<header>
		<h3>
			Area
			<entity-delete type="toolbar" [entity]="entity"></entity-delete>
			<button class="btn btn-inverse pull-right" *ngIf="entity.getNextSibling()" (click)="entity.moveDown()"><i class="eticon eticon-arrow-down"></i> Move down</button>
			<button class="btn btn-inverse pull-right" *ngIf="entity.getPrevSibling()" (click)="entity.moveUp()"><i class="eticon eticon-arrow-up"></i> Move up</button>
		</h3>
	</header>
	<div class="flex-weight-1 padded scrollable">
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Description</label>
					<input type="text" class="form-control" [(ngModel)]="entity.data.description" desktopfocus>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-1">
				<div class="checkbox checkbox-primary">
					<label>
						<input type="checkbox" [(ngModel)]="entity.is_tenanted" [disabled]="entity.hasTenant()">
						<span>Unit is tenanted</span>
					</label>
				</div>
				<div class="checkbox checkbox-primary">
					<label>
						<input type="checkbox" [(ngModel)]="entity.is_owner_occupied" [disabled]="entity.hasTenant()">
						<span>Unit is privately owned</span>
					</label>
				</div>
				<div class="checkbox checkbox-primary">
					<label>
						<input type="checkbox" [ngModel]="entity.data.has_tenant_meter" (ngModelChange)="entity.data.has_tenant_meter = $event ? 1 : 0">
						<span>Unit is serviced</span>
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div *ngIf="entity.getTenantedArea() as tenanted" class="col-lg-6">
				<div class="form-group">
					<label>Tenant type</label>
					<select class="form-control" [(ngModel)]="tenanted.data.tenant_type">
						<option value="serviced">Serviced</option>
						<option value="independent">Independent</option>
					</select>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>Address line 1</label>
					<input type="text" class="form-control" [(ngModel)]="entity.data.address_line_1">
				</div>
				<div class="form-group">
					<label>Address line 2</label>
					<input type="text" class="form-control" [(ngModel)]="entity.data.address_line_2">
				</div>
				<div class="form-group">
					<label>Address line 3</label>
					<input type="text" class="form-control" [(ngModel)]="entity.data.address_line_3">
				</div>
				<div class="form-group">
					<label>Town</label>
					<input type="text" class="form-control" [(ngModel)]="entity.data.posttown">
				</div>
				<div class="form-group">
					<label>Postcode</label>
					<input type="text" class="form-control" [(ngModel)]="entity.data.postcode">
				</div>
			</div>
			<div class="col-lg-6">
				<p><i class="md md-info"></i> <b>Address and postcode overrides</b></p>
				<p>You can use these fields to change how the address of the area is generated.</p>
				<p><b [ngClass]="{ 'text-success': !(entity.data.address_line_1 || entity.data.address_line_2 || entity.data.address_line_3 || entity.data.posttown || entity.data.postcode) }">Default:</b> If all fields are empty, area addresses are auto-generated by adding the area description as the first line of address, then using the building's full address for the rest.</p>
				<p><b [ngClass]="{ 'text-warning': !(entity.data.address_line_1 || entity.data.address_line_2 || entity.data.address_line_3 || entity.data.posttown) && entity.data.postcode }">Postcode only override:</b> Address will be generated as above, but the postcode will be overridden by the area's postcode. To use this method, make sure to leave all other address fields blank.</p>
				<p><b [ngClass]="{ 'text-danger': (entity.data.address_line_1 || entity.data.address_line_2 || entity.data.address_line_3 || entity.data.posttown) }">Full address override:</b> If any other field is filled in, the full address specified will be used for the area, regardless of the building's address.</p>
			</div>
		</div>
		<entity-assignments [entity]="entity"></entity-assignments>
	</div>
</div>
