<div class="layout-dashboard">

	<div *ngIf="data" class="flex-row">

		<div class="flex-col theme-dark" style="min-width: 400px; max-width: 400px;">

			<div class="widget">
				<header>
					<h2>Lights</h2>
				</header>
				<div class="scrollable p-t-0">
					<table class="table table-hover vam no-border">
						<tbody>
							<ng-container *ngFor="let area of areas">
								<tr class="alt-header">
									<th colspan="2"><b>{{area.description}}</b></th>
									<th class="shrink nowrap">
										{{area.light_count}}
									</th>
									<th class="shrink text-right nowrap">
										<a class="btn btn-default btn-xs" (click)="changeAreaState(area, false)">OFF</a>
										<a class="btn btn-default btn-xs" (click)="changeAreaState(area, true)">ON</a>
									</th>
									<th class="shrink"></th>
								</tr>
								<tr *ngFor="let device of area.devices" [ngClass]="{ 'primary': selected === device.id }" (click)="selectDevice(device)" style="cursor:pointer;">
									<td class="shrink p-r-0">
										<span *ngIf="device.category_icon" class="badge-icon" [ngClass]="{ 'bg-primary': device.show_mode === 'on', 'bg-muted': device.show_mode === 'off' }">{{device.category_icon}}</span>
										<span *ngIf="!device.category_icon" class="badge-icon" [ngClass]="{ 'bg-primary': device.show_mode === 'on', 'bg-muted': device.show_mode === 'off' }"><i class="eticon eticon-bulb-alt"></i></span>
									</td>
									<td>
										{{device.description}}
									</td>
									<td class="shrink nowrap">
										{{device.no_of_lights}}
									</td>
									<td class="shrink text-center"><p-inputSwitch [(ngModel)]="device.light_onoff" (ngModelChange)="onLightToggle(device)"></p-inputSwitch></td>
									<td class="shrink text-right">
										<a class="btn btn-default btn-solid btn-sm" (click)="deviceDetails(device.id)"><i class="md md-edit"></i></a>
									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
			</div>

		</div>

		<div class="flex-2 widget">
			<header>
				<h2>Floor Plan</h2>
				<hr>
			</header>
			<div class="p-0 floorplan-wrapper">
				<div *ngIf="selectedFP" class="fill" style="user-select:none;" #plan>
					<div class="v-center">
						<div class="floorplan-container">
							<img src="{{selectedFP.image}}" class="floorplan-image" style="width:100%;">
							<ng-container *ngFor="let device of data.devices">
								<div *ngIf="device.floorplan && device.floorplan.id === selectedFP.id && device.floorplan_item" class="floorplan-icon text-light" [ngClass]="{ 'diff-area': device.area_id !== selectedArea, selected: device.id === selected, 'bg-primary': device.show_mode === 'on' }" [style.top]="device.floorplan_item.y + '%'" [style.left]="device.floorplan_item.x + '%'" [style.transform]="'scale(' + (1 / scale) + ')'" (click)="selectDevice(device)">
									<span *ngIf="device.category_icon" style="font-size: 24px;font-weight: 500;">{{device.category_icon}}</span>
									<span *ngIf="!device.category_icon" style="font-size: 24px;font-weight: 500;"><i class="eticon eticon-bulb-alt"></i></span>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
				<div *ngIf="selectedFP" class="zoom-container" style="right: 0; left: auto;">
					<a class="btn btn-sm btn-primary bx-shadow" #zoomin><i class="md md-add"></i></a>
					<a class="btn btn-sm btn-primary bx-shadow" #zoomout><i class="md md-remove"></i></a>
				</div>
			</div>
		</div>

	</div>

</div>
