<div class="container padded text-center">
	<div class="row">
		<div class="col-sm-4">
			<icon-with-badge caption="Buildings" icon="ei ei-building" [badge]="em.entities.building.length"></icon-with-badge>
		</div>
		<div class="col-sm-4">
			<icon-with-badge caption="Blocks" icon="ei ei-floor" [badge]="em.entities.floor.length"></icon-with-badge>
		</div>
		<div class="col-sm-4">
			<icon-with-badge caption="Areas" icon="ei ei-area" [badge]="em.entities.area.length"></icon-with-badge>
		</div>
	</div>
</div>
