<div class="fill flex-parent-column">
	<header>
		<h3>
			{{entity.getTypeDescription()}}
			<span class="subtitle"> &ndash; {{entity.getLightTypeDescription()}}</span>
			<entity-delete type="toolbar" [entity]="entity"></entity-delete>
			<entity-clone type="toolbar" [entity]="entity"></entity-clone>
			<entity-move type="toolbar" [entity]="entity"></entity-move>
		</h3>
	</header>
	<div class="flex-weight-1 padded scrollable">
		<div class="row">
			<div class="col-lg-5">
				<div class="form-group">
					<label>Description</label>
					<input type="text" class="form-control" [(ngModel)]="entity.data.description" desktopfocus>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Zone Number</label>
					<input type="text" class="form-control" [(ngModel)]="entity.data.zone_number">
				</div>
			</div>
			<div class="col-lg-3 col-lg-offset-1">
				<div class="checkbox checkbox-primary">
					<br>
					<label>
						<input type="checkbox" [(ngModel)]="entity.isMaintained">
						<span>Maintained</span>
					</label>
				</div>
			</div>
		</div>
		<entity-assignments [entity]="entity"></entity-assignments>
	</div>
</div>
