<ng-container *ngIf="list">
	<div class="card-box">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon"><i class="md md-search"></i></span>
					<input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
				</div>
			</div>
			<div class="col-md-3">
				<a class="btn btn-primary pull-right" routerLink="new"><i class="md md-add"></i> New customer</a>
			</div>
			<div class="col-md-3 text-right">
				<button class="btn btn-default" (click)="exportCustomerCSV()">CSV DOWNLOAD</button>
			</div>
			<div class="col-md-12">
				<hr>
				<div class="form-inline">
					<div class="checkbox checkbox-primary">
						<label>
							<input type="checkbox" [(ngModel)]="isp.withActiveContracts" (ngModelChange)="refresh()">
							<span>Customers with active contracts only</span>
						</label>
					</div>
					<div class="checkbox checkbox-danger">
						<label>
							<input type="checkbox" [(ngModel)]="isp.showArchivedCustomers" (ngModelChange)="refresh()">
							<span>Show archived customers only</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-box">
		<div class="text-right">
			<span class="subtitle">{{selectedCount}} {{selectedCount === 1 ? 'customer' : 'customers'}} selected.</span>
			<a *ngIf="selectedCount" class="btn btn-default btn-xs" (click)="sendEmail()"><i class="md md-email"></i> Send email</a>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="shrink">#</th>
					<th>Customer</th>
					<th>Email</th>
					<th>Building</th>
					<th>Address</th>
					<th class="text-center">Contracts</th>
					<th class="text-right">Balance</th>
					<th class="text-right">Pending</th>
					<th class="text-right">Outstanding</th>
					<th class="text-center shrink"><i class="md md-credit-card"></i></th>
					<th class="text-center shrink"><i class="md md-account-balance"></i></th>
					<th class="shrink">
						<div class="checkbox checkbox-primary m-0">
							<label><input type="checkbox" [(ngModel)]="selectAll"><span></span></label>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of list | keywords:search:['id', 'contact_name', 'company_name', 'reference_no', 'email_address', 'building_name', 'posttown', 'postcode', 'notes'] | itemlist:filtered:'list' | pagination:pagination" [ngClass]="{ 'danger': item.archived, 'primary': item.selected }">
					<td class="shrink">{{item.id}}</td>
					<td class="text-primary selectable" [routerLink]="['/isp', isp.id, 'customer', item.id]">
						<div *ngIf="item.contact_name" class="text-bold">{{item.contact_name}}</div>
						<div *ngIf="item.company_name" [ngClass]="{ 'text-bold': !item.contact_name }">{{item.company_name}}</div>
						<div *ngIf="item.reference_no" class="subtitle">{{item.reference_no}}</div>
						<div *ngIf="item.notes" class="badge badge-info" style="white-space: normal;"><i class="md md-info"></i> {{item.notes}}</div>
					</td>
					<td><a *ngIf="item.email_address" href="mailto:{{item.email_address}}">{{item.email_address}}</a></td>
					<td style="white-space: pre-wrap;">{{item.building_name}}</td>
					<td>
						<div *ngIf="item.posttown">{{item.posttown}}</div>
						<div *ngIf="item.postcode">{{item.postcode}}</div>
					</td>
					<td class="text-center">{{item.active_contract_count}}</td>
					<td class="text-right" [ngClass]="{ 'text-success': item.balance >= 0, 'text-warning': item.balance < 0 && item.pending != 0, 'text-danger': item.balance < 0 && item.pending == 0 }">{{item.balance | decimal:2:2:true:'GBP'}}</td>
					<td class="text-right" [ngClass]="{ 'text-warning': item.pending > 0, 'text-success': item.pending == 0 }">{{item.pending | decimal:2:2:true:'GBP'}}</td>
					<td class="text-right" [ngClass]="{ 'text-success': item.outstanding <= 0, 'text-danger': item.outstanding > 0 }">{{item.outstanding | decimal:2:2:true:'GBP'}}</td>
					<td class="text-center shrink">
						<i *ngIf="item.cc_ok" class="md md-check text-success"></i>
						<i *ngIf="!item.cc_ok" class="md md-close text-danger"></i>
					</td>
					<td class="text-center shrink">
						<i *ngIf="item.dd_ok" class="md md-check text-success"></i>
						<i *ngIf="!item.dd_ok" class="md md-close text-danger"></i>
					</td>
					<td class="shrink">
						<div class="checkbox checkbox-primary m-0">
							<label><input type="checkbox" [(ngModel)]="item.selected"><span></span></label>
						</div>
					</td>
				</tr>
				<tr *ngIf="!pagination.count">
					<td *ngIf="!isp.showArchivedCustomers" colspan="11">No active customers found.</td>
					<td *ngIf="isp.showArchivedCustomers" colspan="11">No archived customers found.</td>
				</tr>
			</tbody>
		</table>
		<app-pagination [pagination]="pagination"></app-pagination>
	</div>
</ng-container>
