<div class="flex-parent-column fill p-l-15">
	<div class="flex-parent-row">
		<widget-summary-areas class="flex-weight-1 widget card-box m-t-15 m-b-15 m-r-15 p-0"></widget-summary-areas>
		<widget-summary-routers class="flex-weight-1 widget card-box m-t-15 m-b-15 m-r-15 p-0"></widget-summary-routers>
		<widget-summary-points class="flex-weight-1 widget card-box m-t-15 m-b-15 m-r-15 p-0"></widget-summary-points>
	</div>
	<div class="flex-parent-row flex-weight-4">
		<widget-assignments class="flex-weight-1 widget card-box m-b-15 m-r-15 p-0"></widget-assignments>
		<widget-device-types class="flex-weight-1 widget card-box m-b-15 m-r-15 p-0"></widget-device-types>
		<widget-user-history class="flex-weight-1 widget card-box m-b-15 m-r-15 p-0"></widget-user-history>
	</div>
	<div class="flex-parent-row flex-weight-3">
		<widget-issues class="flex-weight-1 widget card-box m-b-15 m-r-15 p-0"></widget-issues>
		<widget-weather class="flex-weight-1 widget card-box m-b-15 m-r-15 p-0"></widget-weather>
		<widget-building-info class="flex-weight-1 widget card-box m-b-15 m-r-15 p-0"></widget-building-info>
	</div>
</div>
