@font-face {
    font-family: "eticom-icons";
    src: url("../fonts/eticom-icons.eot?bb72c98d1eeb136e021e937cf44f584b?#iefix") format("embedded-opentype"),
url("../fonts/eticom-icons.woff?bb72c98d1eeb136e021e937cf44f584b") format("woff"),
url("../fonts/eticom-icons.ttf?bb72c98d1eeb136e021e937cf44f584b") format("truetype"),
url("../fonts/eticom-icons.svg?bb72c98d1eeb136e021e937cf44f584b#eticom-icons") format("svg");
}

i.ei {
    line-height: 1;
}

i.ei:before {
    font-family: eticom-icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.ei-area-light-o:before {
    content: "\f101";
}
.ei-area-light:before {
    content: "\f102";
}
.ei-area:before {
    content: "\f103";
}
.ei-arrow-left-right:before {
    content: "\f104";
}
.ei-billpoint:before {
    content: "\f105";
}
.ei-building:before {
    content: "\f106";
}
.ei-calendar-o:before {
    content: "\f107";
}
.ei-clipboard-tick-o:before {
    content: "\f108";
}
.ei-control:before {
    content: "\f109";
}
.ei-device:before {
    content: "\f10a";
}
.ei-exit-o:before {
    content: "\f10b";
}
.ei-exit:before {
    content: "\f10c";
}
.ei-fail-o:before {
    content: "\f10d";
}
.ei-floor:before {
    content: "\f10e";
}
.ei-gateway:before {
    content: "\f10f";
}
.ei-lamp-o:before {
    content: "\f110";
}
.ei-lamp:before {
    content: "\f111";
}
.ei-light-group-o:before {
    content: "\f112";
}
.ei-map-marker-o:before {
    content: "\f113";
}
.ei-monitor:before {
    content: "\f114";
}
.ei-pass-o:before {
    content: "\f115";
}
.ei-router:before {
    content: "\f116";
}
.ei-warning-o:before {
    content: "\f117";
}
