<app-stock-product-entities *ngIf="app.header.activeTab === 'entity'"></app-stock-product-entities>
<app-stock-product-categories *ngIf="app.header.activeTab === 'category'"></app-stock-product-categories>
<app-stock-product-tag-groups *ngIf="app.header.activeTab === 'tag-group'"></app-stock-product-tag-groups>
<app-stock-product-units *ngIf="app.header.activeTab === 'unit'"></app-stock-product-units>
<app-stock-product-labour *ngIf="app.header.activeTab === 'labour'"></app-stock-product-labour>
<app-stock-product-subscription *ngIf="app.header.activeTab === 'subscription'"></app-stock-product-subscription>
<app-stock-product-pricing *ngIf="app.header.activeTab === 'pricing'"></app-stock-product-pricing>
<app-stock-product-resellers *ngIf="app.header.activeTab === 'resellers'"></app-stock-product-resellers>
