<ng-container *ngIf="warehouseList">
	<div class="card-box">
		<div class="row">
			<div class="col-md-6">
				<label>Warehouse</label>
				<select class="form-control" [(ngModel)]="warehouse" (change)="refreshLocations()" [disabled]="!!products.length">
					<option *ngFor="let o of warehouseList" [ngValue]="o.id">{{o.description}}</option>
				</select>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<label>Add product</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-barcode"></i></span>
					<input type="text" class="form-control" placeholder="SKU" [(ngModel)]="sku" (keyup.enter)="search(true)" appDesktopFocus #searchfield>
					<span class="input-group-btn">
						<button class="btn btn-solid btn-danger" (click)="search()"><i class="md md-add"></i> Add</button>
					</span>
					<span class="input-group-btn">
						<button class="btn btn-default" (click)="selectProduct()"><i class="md md-search"></i> Search</button>
					</span>
				</div>
			</div>
			<div class="col-md-6">
				<label>Goods Out Notes</label>
				<input class="form-control" [(ngModel)]="notes">
			</div>
		</div>
		<div *ngIf="products.length" class="row">
			<div class="col-sm-12 text-right">
				<br>
				<button class="btn btn-default" (click)="cancel()"><i class="md md-close"></i> Cancel</button>
				<button class="btn btn-primary" (click)="submit()"><i class="md md-check"></i> Submit</button>
			</div>
		</div>
	</div>

	<div *ngIf="products.length" class="card-box">
		<table class="table table-striped table-hover vam">
			<thead>
				<tr>
					<th class="shrink"></th>
					<th>Model / Manufacturer</th>
					<th>SKU</th>
					<th class="text-right">Min Qty</th>
					<th class="text-right">Max Qty</th>
					<th class="text-right">In Stock</th>
					<th>Location</th>
					<th class="text-right">Qty at Location</th>
					<th class="text-right shrink nowrap">Quantity Out</th>
					<th class="shrink"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of products">
					<td class="shrink">
						<div *ngIf="item.image_url" class="product-image" [style.backgroundImage]="'url(\'' + item.image_url + '\')' | safeStyle"></div>
					</td>
					<td>
						<div>{{item.model}}</div>
						<div class="text-small">{{item.manufacturer_name}}</div>
					</td>
					<td>
						<div>{{item.sku}}</div>
						<div class="text-small">{{item.manufacturer_sku}}</div>
					</td>
					<td class="text-right">{{item.min_qty}}</td>
					<td class="text-right">{{item.max_qty}}</td>
					<td class="text-right">{{item.stock_qty}}</td>
					<td>
						<select *ngIf="item.stock.length > 1" class="form-control" [(ngModel)]="item.selected">
							<option *ngFor="let s of item.stock" [ngValue]="s">{{locationIndex[s.location_id]?.description}}</option>
						</select>
						<span *ngIf="item.stock.length === 1">{{locationIndex[item.selected.location_id]?.description}}</span>
					</td>
					<td class="text-right">{{item.selected.qty}}</td>
					<td class="shrink"><input class="form-control text-right" [(ngModel)]="item.quantity" style="width: 150px;"></td>
					<td class="shrink nowrap"><a class="text-danger" (click)="deleteProduct(item)"><i class="md md-delete"></i> Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-container>
