<ng-container *ngIf="data">
	<span class="pull-right">
		<button class="btn btn-default" (click)="goBack()" [disabled]="disabled">Cancel</button>
		<button class="btn btn-primary" (click)="save()" [disabled]="disabled">Save</button>
	</span>

	<h3>Module details</h3>
	<div class="card-box">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">Module description</label>
				<div class="col-sm-5">
					<div class="input-group">
						<span class="input-group-addon" [style.background]="data.details.colour"><i class="{{data.details.icon}} text-light eticon-shadow"></i></span>
						<input class="form-control" [(ngModel)]="data.details.description" appDesktopFocus>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Icon</label>
				<div class="col-sm-3">
					<input class="form-control" [(ngModel)]="data.details.icon">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Colour</label>
				<div class="col-sm-3">
					<input class="form-control" [(ngModel)]="colour">
					<span class="help-block text-info"><i class="md md-info"></i> Colour must be in hexadecimal format #rrggbb</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Text colour</label>
				<div class="col-sm-3">
					<select class="form-control" [(ngModel)]="data.details.text_colour">
						<option value="#000000">Black</option>
						<option value="#ffffff">White</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Preview</label>
				<div class="col-sm-5">
					<div class="module-preview" [style.color]="data.details.text_colour" [style.background]="'rgba(' + r + ', ' + g + ', ' + b + ', 1)'">{{data.details.description}}&nbsp;</div>
					<div class="module-preview" [style.color]="data.details.text_colour" [style.background]="'rgba(' + r + ', ' + g + ', ' + b + ', 0.5)'">{{data.details.description}}&nbsp;</div>
					<div class="module-preview" [style.color]="data.details.text_colour" [style.background]="'rgba(' + r + ', ' + g + ', ' + b + ', 0.35)'">{{data.details.description}}&nbsp;</div>
				</div>
			</div>
		</div>
	</div>

	<h3>Proposal</h3>
	<div class="card-box">
		<h2>Proposal text</h2>
		<div class="help-block">Displayed below the module heading to the right of the module icon.</div>
		<editor [init]="app.tinymce" [(ngModel)]="data.details.proposal_text"></editor>

		<h2>
			Proposal assets
			<button class="btn btn-primary pull-right" [disabled]="disabled" (click)="changeImage()"><i class="md md-add"></i> Add image</button>
		</h2>
		<div class="help-block">Drag all images into the box below to use them in the proposal text and/or content. Once they're uploaded, you can drag the image from the box below to the content section.</div>
		<input type="file" class="hidden" (change)="uploadImage()" #fileInput>
		<div class="image-drop" [ngClass]="{ active: draggedOver }" (dragover)="fileDragOver($event)" (dragleave)="draggedOver = false" (drop)="fileDrop($event)">
			<span *ngFor="let asset of data.details.assets" (mouseenter)="hover = asset" (mouseleave)="hover = null">
				<img [src]="asset.url">
				<ng-container *ngIf="hover === asset">
					<br><br><button class="btn btn-xs btn-danger" (click)="deleteAsset(asset)"><i class="md md-delete"></i> Delete</button>
				</ng-container>
			</span>
		</div>

		<h2>Proposal content</h2>
		<div class="help-block">Full-width content displayed below the header section.</div>
		<editor [init]="app.tinymce" [(ngModel)]="data.details.proposal_content"></editor>
	</div>

	<span class="pull-right">
		<button class="btn btn-default" (click)="goBack()" [disabled]="disabled">Cancel</button>
		<button class="btn btn-primary" (click)="save()" [disabled]="disabled">Save</button>
	</span>
</ng-container>
