@font-face {
    font-family: "eticom-icons";
    src: url("../fonts/eticom-icons.eot?d3cf8338afadd06ba016941484a6108c?#iefix") format("embedded-opentype"),
url("../fonts/eticom-icons.woff?d3cf8338afadd06ba016941484a6108c") format("woff"),
url("../fonts/eticom-icons.ttf?d3cf8338afadd06ba016941484a6108c") format("truetype"),
url("../fonts/eticom-icons.svg?d3cf8338afadd06ba016941484a6108c#eticom-icons") format("svg");
}

i.ei {
    line-height: 1;
}

i.ei[class^="ei-"]:before, i.ei[class*=" ei-"]:before {
    font-family: eticom-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ei-ac-auto:before {
    content: "\f101";
}
.ei-ac-cool:before {
    content: "\f102";
}
.ei-ac-dry:before {
    content: "\f103";
}
.ei-ac-fan:before {
    content: "\f104";
}
.ei-ac-faulty:before {
    content: "\f105";
}
.ei-ac-heat:before {
    content: "\f106";
}
.ei-ac-inactive:before {
    content: "\f107";
}
.ei-action:before {
    content: "\f108";
}
.ei-aircon:before {
    content: "\f109";
}
.ei-area-light-o:before {
    content: "\f10a";
}
.ei-area-light:before {
    content: "\f10b";
}
.ei-area:before {
    content: "\f10c";
}
.ei-arrow-left-right:before {
    content: "\f10d";
}
.ei-billpoint:before {
    content: "\f10e";
}
.ei-building-2:before {
    content: "\f10f";
}
.ei-building:before {
    content: "\f110";
}
.ei-calendar-o:before {
    content: "\f111";
}
.ei-climate:before {
    content: "\f112";
}
.ei-clipboard-tick-o:before {
    content: "\f113";
}
.ei-control:before {
    content: "\f114";
}
.ei-device:before {
    content: "\f115";
}
.ei-exit-o:before {
    content: "\f116";
}
.ei-exit:before {
    content: "\f117";
}
.ei-fail-o:before {
    content: "\f118";
}
.ei-fault:before {
    content: "\f119";
}
.ei-floor:before {
    content: "\f11a";
}
.ei-floorplan:before {
    content: "\f11b";
}
.ei-gateway:before {
    content: "\f11c";
}
.ei-history:before {
    content: "\f11d";
}
.ei-lamp-o:before {
    content: "\f11e";
}
.ei-lamp:before {
    content: "\f11f";
}
.ei-light-group-o:before {
    content: "\f120";
}
.ei-map-marker-o:before {
    content: "\f121";
}
.ei-monitor:before {
    content: "\f122";
}
.ei-pass-o:before {
    content: "\f123";
}
.ei-router:before {
    content: "\f124";
}
.ei-schedule:before {
    content: "\f125";
}
.ei-search-outline:before {
    content: "\f126";
}
.ei-site:before {
    content: "\f127";
}
.ei-status:before {
    content: "\f128";
}
.ei-warning-o:before {
    content: "\f129";
}
