<ng-container *ngIf="!filtered">
	<div class="card-box">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon"><i class="md md-search"></i></span>
					<input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
				</div>
			</div>
			<div class="col-md-6">
				<a class="btn btn-primary pull-right" routerLink="new"><i class="md md-add"></i> New contract template</a>
			</div>
		</div>
	</div>

	<div *ngIf="templates" class="card-box">
		<h2>Contract Templates</h2>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="shrink">#</th>
					<th>Description</th>
					<th class="shrink nowrap"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of templates | keywords:search:['id', 'description'] | count:count:'templates'">
					<td class="shrink">{{item.id}}</td>
					<td>{{item.description}}</td>
					<td class="shrink nowrap"><a [routerLink]="['/billing', owner, 'contract', item.id, 'edit']"><i class="md md-edit"></i> Edit</a></td>
				</tr>
				<tr *ngIf="!count.templates">
					<td colspan="3">No contract templates found.</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-container>

<div *ngIf="list" class="card-box">
	<h2>
		Contracts
		<div *ngIf="!hideNew && filtered" class="btn-group pull-right">
			<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="md md-add"></i> New contract</button>
			<ul class="dropdown-menu" role="menu">
				<li><a routerLink="contract/new">Blank contract</a></li>
				<li *ngFor="let t of templates"><a [routerLink]="['contract/new', t.id]">{{t.description}}</a></li>
			</ul>
		</div>
	</h2>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th class="shrink">#</th>
				<th>Customer</th>
				<th>Building / Area</th>
				<th>Description</th>
				<th>Start date</th>
				<th>End date</th>
				<th class="text-center">Status</th>
				<th class="shrink nowrap"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of list | keywords:search:['id', 'customer_name', 'building_description', 'area_description', 'description', 'status'] | pagination:pagination">
				<td class="shrink">{{item.id}}</td>
				<td>
					<a *ngIf="item.customer_type === 'SI'" [routerLink]="['/billing', owner, 'system-integrator', item.customer_id]"><i class="md md-local-shipping"></i> &nbsp;{{item.customer_name}}</a>
					<a *ngIf="item.customer_type === 'C'" [routerLink]="['/billing', owner, 'client', item.customer_id]"><i class="md md-work"></i> &nbsp;{{item.customer_name}}</a>
					<a *ngIf="item.customer_type === 'CU'" [routerLink]="['/billing', owner, 'customer', item.customer_id]"><i class="md md-person"></i> &nbsp;{{item.customer_name}}</a>
				</td>
				<td>
					<ng-container *ngIf="item.area_id">
						<a [routerLink]="['/billing', owner, 'site', item.building_id]">{{item.building_description}}</a>
						/
						<a [routerLink]="['/billing', owner, 'area', item.area_id]">{{item.area_description}}</a>
					</ng-container>
				</td>
				<td>{{item.description}}</td>
				<td>{{item.start_date | mySQLDateToISO | date:'shortDate'}}</td>
				<td>{{item.end_date | mySQLDateToISO | date:'shortDate'}}</td>
				<td class="text-center">
					<span *ngIf="item.status === 'unconfirmed'" class="badge badge-default">Unconfirmed</span>
					<span *ngIf="item.status === 'not_signed'" class="badge badge-default">Not signed</span>
					<span *ngIf="item.status === 'pending'" class="badge badge-default">Pending</span>
					<span *ngIf="item.status === 'active'" class="badge badge-success">Active</span>
					<span *ngIf="item.status === 'ending'" class="badge badge-warning">Ending</span>
					<span *ngIf="item.status === 'ended'" class="badge badge-primary">Ended</span>
					<span *ngIf="item.status === 'cancelled'" class="badge badge-danger">Cancelled</span>
				</td>
				<td class="shrink nowrap"><a [routerLink]="['/billing', owner, 'contract', item.id, 'edit']"><i class="md md-edit"></i> Edit</a></td>
			</tr>
			<tr *ngIf="!pagination.count">
				<td colspan="8">No contracts found.</td>
			</tr>
		</tbody>
	</table>
	<app-pagination [pagination]="pagination"></app-pagination>
</div>
