<div class="card-box">
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				<span class="input-group-addon"><i class="md md-search"></i></span>
				<input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
			</div>
		</div>
		<div class="col-md-6">
			<a *ngIf="level === 'SI'" class="btn btn-primary pull-right" routerLink="/settings/holding-group/new/SI/{{levelId}}"><i class="md md-add"></i> New holding group</a>
		</div>
	</div>
</div>

<div class="card-box">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th class="shrink">#</th>
				<th>Name</th>
				<th>Town</th>
				<th>Postcode</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of list | keywords:search:['id', 'company_name', 'posttown', 'postcode'] | count:count:'hg'">
				<td class="shrink">{{item.id}}</td>
				<td class="text-primary selectable" [routerLink]="['/settings/holding-group', item.id]">{{item.company_name}}</td>
				<td>{{item.posttown}}</td>
				<td>{{item.postcode}}</td>
				<td class="text-primary selectable shrink nowrap" [routerLink]="['/settings/holding-group', item.id, 'edit']"><i class="md md-edit"></i> Edit</td>
			</tr>
			<tr *ngIf="!count.hg">
				<td colspan="5">No holding groups found.</td>
			</tr>
		</tbody>
	</table>
</div>
