<div class="layout-dashboard">

	<div *ngIf="data" class="flex-row">

		<div *ngIf="buildingLayout.length" class="flex-2 flex-col">
			<ng-container *ngFor="let layout of buildingLayout">
				<div *ngIf="layout[1]" class="flex-row">
					<div *ngFor="let building of layout" class="widget hoverable" routerLink="../building/{{building.id}}">
						<header class="gradient theme-dark">
							<div class="flex-row flex-center">
								<i class="header-icon ei ei-site"></i>
								<h2 class="flex-1">{{building.description}}</h2>
								<a class="btn btn-sm btn-default">View Building</a>
							</div>
						</header>
						<div [style.background]="'url(\'' + building.image + '\') center center / cover no-repeat' | safeStyle"></div>
					</div>
				</div>
				<div *ngIf="!layout[1]" class="flex-row">
					<div *ngFor="let building of [layout[0]]" class="widget hoverable" routerLink="../building/{{building.id}}">
						<header class="gradient theme-dark">
							<div class="flex-row flex-center">
								<i class="header-icon ei ei-site"></i>
								<h2 class="flex-1">{{building.description}}</h2>
								<a class="btn btn-sm btn-default">View Building</a>
							</div>
						</header>
						<div class="flex-row p-0">
							<div class="flex-1" [style.background]="'url(\'' + building.image + '\') center center / cover no-repeat' | safeStyle"></div>
							<div class="flex-1 flex-center-self m-r-20">
								<table class="table vam">
									<thead>
										<tr>
											<th colspan="3">List of Devices</th>
										</tr>
									</thead>
									<tr *ngFor="let type of building.types">
										<td class="shrink">
											<span *ngIf="type.category_icon" class="badge-icon">{{type.category_icon}}</span>
											<span *ngIf="!type.category_icon" class="badge-icon"><i class="eticon eticon-bulb-alt"></i></span>
										</td>
										<td><b>{{type.category}}</b></td>
										<td class="shrink text-right">{{type.light_count}}x</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>

		<div *ngIf="!buildingLayout.length" class="flex-2 widget">
			<header class="flex-row">
				<h2 class="flex-3">Sites</h2>
				<div class="flex-2">
					<div class="input-group">
						<span class="input-group-addon"><i class="md md-search"></i></span>
						<input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
					</div>
				</div>
			</header>
			<div class="scrollable p-0">
				<table class="table table-striped table-hover vam">
					<thead>
						<tr>
							<th colspan=2>Description</th>
							<th>Address</th>
							<th class="text-center divider-left">Lights</th>
							<th class="text-center divider-left">On</th>
							<th class="text-center divider-left">Off</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let building of data.buildings | keywords:search:['description', 'address', 'posttown', 'postcode']" class="clickable" routerLink="../building/{{building.id}}">
							<td style="width: 64px; height: 64px;" [style.background]="'url(\'' + building.image + '\') center center / cover no-repeat' | safeStyle"></td>
							<td>{{building.description}}</td>
							<td [innerHtml]="getAddress(building)"></td>
							<td class="text-center divider-left">{{building.light_count}}</td>
							<td class="text-center divider-left text-danger">{{building.light_on || ''}}</td>
							<td class="text-center divider-left text-success">{{building.light_off || ''}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="flex-col">

			<div class="flex-2 widget">
				<header>
					<h2>User History</h2>
					<hr>
				</header>
				<div class="scrollable p-t-0">
					<table class="table table-hover no-top-border vam">
						<tr *ngFor="let item of data.history">
							<td class="shrink">
								<app-gravatar [email]="item.user_email" size="55"></app-gravatar>
							</td>
							<td>
								<div [innerHtml]="item.html"></div>
								<div class="m-t-10">
									<span>{{item.user_name}}</span>
									<span class="pull-right">{{item.datetime | mySQLDateToISO | date:'shortDate'}}&nbsp;{{item.datetime | mySQLDateToISO | date:'mediumTime'}}</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="widget">
				<header>
					<h2>Overall Status</h2>
					<hr>
				</header>
				<div class="flex-row flex-center">
					<table class="table no-border vam text-center" style="min-width: 80%;">
						<tbody>
							<tr>
								<td [ngClass]="{ 'text-muted': !data.device_statuses.light_on }">
									<span class="text-primary h1"><i class="eticon eticon-bulb-alt"></i></span>
									<span class="h2">{{data.device_statuses.light_on || 0}}</span>
									{{data.device_statuses.light_on !== 1 ? 'lights' : 'light'}} on
								</td>
								<td [ngClass]="{ 'text-muted': !data.device_statuses.light_off }">
									<span class="text-muted h1"><i class="eticon eticon-bulb-alt"></i></span>
									<span class="h2">{{data.device_statuses.light_off || 0}}</span>
									{{data.device_statuses.light_off !== 1 ? 'lights' : 'light'}} off
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
</div>
